<% if (!!warn && warn.length > 0) { %>
<div class="minimal-font alert alert-danger">
    <a class="close" data-dismiss="alert">×</a>
    <%= warn %>
</div>
<% } %>
<% if (!!info && info.length > 0) { %>
<div class="minimal-font alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <%= info %>
</div>
<% } %>