body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Hide builtin progress bar */
.spike-progress + .uploadcare-widget .uploadcare-widget-status,
.spike-progress + .uploadcare-widget .uploadcare-widget-text {
  display: none !important;
}

.uploader-green-button .uploadcare-widget-button-open {
    background-color: #15c25a;
}

.upload-result {
    display: none;
}