body {
    padding-top: 20px;
}

.minimal-font {
    font-family: AtlasTypewriterRegular, 'Andale Mono', Consolas, 'Lucida Console', Menlo, 'Luxi Mono', monospace;
    font-style: normal;
    font-weight: normal;
}

.minimal-font h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: AtlasTypewriterRegular, 'Andale Mono', Consolas, 'Lucida Console', Menlo, 'Luxi Mono', monospace;
}

.dark-minimal.btn {
    color: white;
}

.dark-minimal.btn:hover, .dark-minimal.btn:focus {
    color: white;
    background-color: darkgrey;
}

.dark-minimal .btn:active {
    color: white;
    background-color: darkgrey;
}