.header {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: solid;
    border-width: 1px;
    padding: 5px;
}

.long-textbox {
    height: 200px;
}

body {
    padding: 0px 60px 0px 60px;
}